# Ignore Python cache and environment
__pycache__/
*.pyc
.venv/

# Ignore data and model files
data/
vectorstore/
*.db
*.json

# Ignore system / editor files
.DS_Store
*.log
.env

# Ignore config with API keys
src/config.py